<% if @commentaires.size != 0 %>

<%#= render 'precedents_commentaires', commentaires:@commentaires %>

      <h3>Commentaires précédents: </h3>
        
<div class="row justify-content-start">
  <div class="col-8">
    
    <%= will_paginate(@commentaires,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font float-left",:outer_window => 1,:inner_window => 0, :style => 'color:green',:link_separator  => "  " ) %>
  </div>
</div>



          <%= render 'commentaires/commentaires', commentaires: @commentaires %>
          
          <%#= debugger %>
<div class="row justify-content-end">
  <div class="col-8">
    
    <%= will_paginate(@commentaires,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font float-right",:outer_window => 1,:inner_window => 0, :style => 'color:green',:link_separator  => "  " ) %>
  </div>
</div>

<% else %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>No commentaires Yet!</h3>
    </div>
  </div>

<% end %>