  <div class="row">
    <div class="col-md-8 ">
      <h3>Commentaires précédents: </h3>
        
          <%= render 'commentaires/commentaires', commentaires: commentaires %>
       	  
       	  <%= debugger %>
    </div>
  </div>