<div class="row">
<%= render 'partage/titre',titre:"Listing des Recettes" %>
</div>
<div class="row">
  <div class="container">
  		<div class="float-right"><%= will_paginate(@recettes,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0, :style => 'color:green',:link_separator  => "  " ) %></div>
 </div>
</div>

<%= render 'recette', obj:@recettes%>

<div class="row">
  <div class="container">
  		<div class="mx-auto d-block"><%= will_paginate(@recettes,:previous_label => "&laquo;", :next_label => "&raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0, :style => 'color:green',:link_separator  => "  " ) %></div>
  </div>
</div>