<h1 align="center">Linsting des Recettes</h1>
<hr>



<div class="card-deck text-center">
<% @recettes.each do |r| %>
	
  <div class="card card-outline-warning">
  	<div class="card-header">
    <%= r.id %>
  </div>
    <img class="card-img-top" src="..." alt="Card image cap" height="256" width="180" >
    <div class="card-block">
      <h4 class="card-title"><%= r.nomR7 %></h4>
      <p class="card-text"><%= truncate r.description, lenght:150%></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Créer depuis <%= time_ago_in_words r.created_at %></small>
    </div>
  </div>		
<%end%>
</div>