<h3 align="center"><small>Détails de la recette</small></h3>
<hr>
<div class="row"> 
<div class="media col-xs-4 mx-auto d-block">
  <%= image_tag("olgcover_image.jpg",alt:"test image",class:"mr-3  d-flex align-self-center img-thumbnail") %>
<div class="media-body">
<h4 class="badge badge-success"><%= @recette.nomR7.upcase %></h4>
<p class="card-text description "><%= simple_format(@recette.description) %></p>
</div>
</div>

</div>