<div class="row">
  <div class="col-md-2">
    <section class="chef_info center">
      <%= gravatar_for(commentaire.chef, size: 60) %>
    </section>
  </div>
  <div class="col-md-8 well">
    <p><%= commentaire.commentairetexte %></p>
    <p>
      <span class="quiet"><small>Created: 
                          <%= time_ago_in_words(commentaire.created_at) %> ago by 
                          <%= commentaire.chef.chefnom %></small></span>
    </p>
  </div>
</div>