/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
/*$navbar-dark-color: #552e86 !important;
*/

@import "bootstrap";

@import "carousel.css";

.jumbotron{
	background-image: asset-url("cover_image.jpg");
	background-size: cover;
	height: 300px;
	margin-top: 1.5%;
	
}

.jumbotron h1{
	color:$white;
	letter-spacing: -1px;
}

.jumbotron h2{
	color:$white;
	letter-spacing: -1px;
}

.btn-cover{
	background-color:#ff8c00 !important ;
}
.btn-cover:hover{
	color:#fff !important; 
	text-decoration: none;
	background-color:$red !important ;
}
.footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 2px solid #eaeaea;
	color:#777;
}

.description{
	margin-top:0;
}

.card a{
	color:#ff8c00 !important ;
}

.form-group{
	margin-top:20px;
}

.form-horizontal{
//	border: 1px solid rgba(0, 0, 0, 0.15);
}
.col,.d-flex, .p-2 { 
//padding-top: .75rem;
//padding-bottom: .75rem;
background-color: rgba(86,61,124,.15);
border: 1px solid rgba(86,61,124,.2);
}
//.col { flex: 1 0 50%; }

body { padding-top: 50px; }


.pagination {
  background: white;
  cursor: default;
  height: 22px;
  padding-top: .75rem;

  margin: 0 auto !important;
  width: 100px !important;
  display: block !important;

  
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}